.css-1p05t8e.epcbefy1{
    border: none;
}

.css-12ttj6m.epcbefy1 {
    border: none;
}

.css-1p05t8e.epcbefy1 {
    padding: 5px 0px;
}

.css-12ttj6m.epcbefy1 {
    padding: 0px;
}

.row-widget.stDownloadButton {
    text-align: center;
}

.row-widget.stButton {
    -ms-transform: translateY(7%);
    transform: translateY(7%);
    text-align: center;
}

.css-1fv8s86.e16nr0p34 {
    padding-left: 20px;
}

.css-1offfwp.e16nr0p34 {
    padding-left: 20px;
}

.streamlit-expander {
    border: none;
    border-radius: 0px;
    border-bottom: solid 2px #414141a1;

}