.css-1p05t8e.epcbefy1{
    border: none;
}

div.block-container {
    padding-top: 50px;
}

.css-12ttj6m.epcbefy1 {
    border: none;
}

.css-1p05t8e.epcbefy1 {
    padding: 5px 0px;
}

.css-12ttj6m.epcbefy1 {
    padding: 0px;
}

.row-widget.stDownloadButton {
    text-align: center;
}

.row-widget.stButton {
    -ms-transform: translateY(7%);
    transform: translateY(7%);
    text-align: center;
}

.css-1ehzy7p.edgvbvh5 {
    width: 100%;
}

.css-1fv8s86.e16nr0p34 {
    padding-left: 10px; /* review this */
}

.css-1offfwp.e16nr0p34 {
    padding-left: 10px;
}

.streamlit-expander {
    border: none;
    border-radius: 0px;
    border-bottom: solid 2px #7c7c7c31;
}

.css-1gk2i2l.e17lx80j0 {
    justify-content: center;
    align-items: center;
}

.stSpinner {
    padding-left: 30px;
}

.css-1x8cf1d.edgvbvh5 {
    width: 100%;
}

.css-5uatcg.edgvbvh5 {
    width: 100%;
}

footer {
	visibility: hidden;
}